<!--
<section data-ng-controller="EventsUpdateController as UpdateCtrl">

	<div class="modal-header">
		<h3 class="modal-title" id="modal-title">Update Event</h3>
	</div>
	<div class="modal-body" id="modal-body">
		
			<form name="eventForm" class="" data-ng-submit="update()" novalidate>
			  <fieldset>  
        <div class="row">
            <div class="col-sm-6 text-center">
                <i class="glyphicon glyphicon-picture event-picture" style="color: blue"></i>
            </div>
             <div class="col-sm-6">
                <div class="form-group">
                  <label class="control-label" for="title">Title</label>
                  <div class="controls">
                    <input name="title" type="text" data-ng-model="event.title" id="title" class="form-control">
                  </div>
                </div>
                 
                <div class="form-group">
                  <label class="control-label" for="title">Time</label>
                  <div class="controls">
                    <input name="time" type="text" data-ng-model="event.time" id="time" class="form-control">
                  </div>
                </div>

                <div class="form-group">
                  <label class="control-label" for="place">Place</label>
                  <div class="controls">
                    <input name="place" type="text" data-ng-model="event.place" id="place" class="form-control">
                  </div>
                </div>
            </div>
          </div>
          
           <div class="row">
            <div class="col-sm-push-6"> 
                <div class="form-group">
                  <label class="control-label" for="address">Address</label>
                  <div class="controls">
                    <input name="address" type="text" data-ng-model="event.address" id="address" class="form-control">
                  </div>
                </div>
                <div class="form-group">
                  <label class="control-label" for="performers">Performers</label>
                  <div class="controls">
                    <input name="performers" type="text" data-ng-model="event.performers" id="performers" class="form-control">
                  </div>
                </div>
                <div class="form-group">
                  <label class="control-label" for="short_bio">Short bio</label>
                  <div class="controls">
                    <input name="short_bio" type="text" data-ng-model="event.short_bio" id="short_bio" class="form-control">
                  </div>
                </div>    
            </div>
               
             <div class="col-sm-pull-6">
                <div class="form-group">
                  <label class="control-label" for="description">Description</label>
                  <div class="controls">
                    <textarea name="description" data-ng-model="event.description" id="content" class="form-control" cols="30" rows="10"></textarea>
                  </div>
                </div>
            </div>
          </div>
          
           <div class="row">
            <div class="col-sm-6">
                
         

            </div>
             <div class="col-sm-6">
                
            </div>
          </div>
          
        <alert type="danger" ng-show="error" class="text-center text-danger">
          <span ng-bind="error"></span>
        </alert>
      </fieldset>
	</form>
		</div>
	<div class="modal-footer">
		<button class="btn btn-primary" type="button" ng-click="update(event); ok()">Update</button>
		<button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
	</div>
</section>
-->

<section data-ng-controller="EventsController" data-ng-init="findOne()">
  <div class="page-header">
    <h1>Edit Event</h1>
  </div>
  <div class="col-md-12">
    <form name="eventForm" class="form-horizontal" data-ng-submit="update()" novalidate>
      <fieldset>
        <div class="form-group">
          <label class="control-label" for="title">Title</label>
          <div class="controls">
            <input name="title" type="text" data-ng-model="event.title" id="title" class="form-control" placeholder="Title" required>
          </div>
        </div>
        <div class="form-group">
          <label class="control-label" for="content">Content</label>
          <div class="controls">
            <textarea name="content" data-ng-model="event.content" id="content" class="form-control" cols="30" rows="10" placeholder="Content"></textarea>
          </div>
        </div>
        <div class="form-group">
          <input type="submit" value="Update" class="btn btn-default">
        </div>
        <div data-ng-show="error" class="text-danger">
          <strong data-ng-bind="error"></strong>
        </div>
      </fieldset>
    </form>
  </div>
</section>
