<section data-ng-controller="FoodsController" data-ng-init="findOne()">
  <div class="page-header">
    <h1 data-ng-bind="food.title"></h1>
	<img ng-src="{{food.foodImageURL}}" height="100" />
  </div>
  <div class="pull-right" data-ng-show="authentication.user._id == food.user._id">
    <a class="btn btn-primary" data-ui-sref="foods.edit({foodId: food._id})">
      <i class="glyphicon glyphicon-edit"></i>
    </a>
    <a class="btn btn-primary" data-ng-click="remove();">
      <i class="glyphicon glyphicon-trash"></i>
    </a>
  </div>
  <small>
    <em class="text-muted">
	<span data-ng-bind="food.description"></span>
      Venue
      <span data-ng-bind="food.place | date:'mediumDate'"></span>
      by
      <span data-ng-bind="food.user.displayName"></span>
    </em>
  </small>
  <p class="lead" data-ng-bind="food.content"></p>
</section>

