<section data-ng-controller="RestaurantsController">
  <div class="page-header">
  <br />
  <br />
    <h1>New Restaurant</h1>
  </div>
  <div class="col-md-12">
    <form name="restaurantForm" data-ng-submit="create()" novalidate>
      <fieldset>  
        <div class="row">
            <div class="col-sm-6 text-center">
			
				<img ng-src="modules/restaurants/client/img/default.png" 
				class="img-thumbnail user-profile-picture">
            </div>
             <div class="col-sm-6">
                <div class="form-group">
                  <label class="control-label" for="name">Name</label>
                  <div class="controls">
                    <input name="name" type="text" data-ng-model="name" id="name" class="form-control">
                  </div>
                </div>
				
				<div class="form-group push-6" show-errors>
					<label for="image">Image</label>
					<button type="button" class="btn btn-secondary" ng-show="uploadedFile == null" type="file"
					ngf-select="uploadFiles($file, $invalidFiles)"
					ng-model="uploadedFile" name="file" ngf-model-invalid="errorFiles"
					accept="image/*" ngf-max-size="1MB">
					Select Image</button>
				  <div class="text-center">
					<img ng-show="restaurantForm.file.$valid" ngf-thumbnail="uploadedFile" class="thumb">
				  </div>
				  <div class="text-center">
					<div class="progress" ng-show="uploadedFile.progress >= 0">
							  <div style="width:{{uploadedFile.progress}}%"
								  ng-bind="uploadedFile.progress + '%'"></div>
					</div>
				  </div>
				  <div class="text-center">
					<button type="button" class="btn btn-secondary" ng-click="uploadedFile = null" ng-show="uploadedFile">Remove</button>
				  </div>
				  <div class="alert alert-danger" ng-show="restaurantForm.file.$error.maxSize">File too large
							   {{errorFiles[0].size / 1000000|number:1}}MB: max 1M</div>
				</div>
                 
                <div class="form-group">
                  <label class="control-label" for="openHours">Opening Hours</label>
                  <div class="controls">
                    <input name="openHours" type="text" data-ng-model="openHours" id="openHours" class="form-control">
                  </div>
                </div>

                <div class="form-group">
                  <label class="control-label" for="phone">Phone</label>
                  <div class="controls">
                    <input name="phone" type="text" data-ng-model="phone" id="phone" class="form-control">
                  </div>
                </div>
            </div>
          </div>
          
           <div class="row">
            <div class="col-sm-push-6"> 
               <div class="form-group">
					<label class="control-label" for="content">Latitude</label>
					<div class="controls">
						<textarea name="lat" data-ng-model="lat" id="lat" class="form-control" cols="10" rows="1" placeholder="Latitude"></textarea>
					</div>
                </div>
				<div class="form-group">
					<label class="control-label" for="content">Longitude</label>
					<div class="controls">
						<textarea name="lon" data-ng-model="lon" id="lon" class="form-control" cols="10" rows="1" placeholder="Longitude"></textarea>
					</div>
				</div>
				<div class="form-group">
                  <label class="control-label" for="address">Address</label>
                  <div class="controls">
                    <input name="address" type="text" data-ng-model="address" id="address" class="form-control">
                  </div>
                </div>
                <div class="form-group">
                  <label class="control-label" for="city">City</label>
                  <div class="controls">
                    <input name="city" type="text" data-ng-model="city" id="city" class="form-control">
                  </div>
                </div>    
            </div>
			
			     <div class="col-sm-push-6"> 
                <div class="form-group">
                  <label class="control-label" for="county">County</label>
                  <div class="controls">
                    <input name="county" type="text" data-ng-model="county" id="county" class="form-control">
                  </div>
                </div>
                <div class="form-group">
                  <label class="control-label" for="country">Country</label>
                  <div class="controls">
                    <input name="country" type="text" data-ng-model="country" id="country" class="form-control">
                  </div>
                </div>
                <div class="form-group">
                  <label class="control-label" for="url">URL</label>
                  <div class="controls">
                    <input name="url" type="text" data-ng-model="url" id="url" class="form-control">
                  </div>
                </div>   
				<div class="form-group">
                  <label class="control-label" for="category">Category</label>
                  <div class="controls">
                    <input name="category" type="text" data-ng-model="category" id="category" class="form-control">
                  </div>
                </div>  				
            </div>
               
             <div class="col-sm-pull-6">
                <div class="form-group">
                  <label class="control-label" for="description">Description</label>
                  <div class="controls">
                    <textarea name="description" data-ng-model="description" id="content" class="form-control" cols="30" rows="10"></textarea>
                  </div>
                </div>
            </div>
          </div>
		  
			<map center="[{{lat}},{{lon}}]" zoom ='5'>
				<marker position="[{{lat}},{{lon}}]" visible="true"></marker>
			</map>
          
           <div class="row">
            <div class="col-sm-6">
                
            <div class="form-group">
              <button type="submit" class="btn btn-lg btn-default">
                  Create Restaurant
                </button>
            </div>

            </div>
             <div class="col-sm-6">
                
            </div>
          </div>
          
        <alert type="danger" ng-show="error" class="text-center text-danger">
          <span ng-bind="error"></span>
        </alert>
      </fieldset>
    </form>
  </div>
</section>
