<section data-ng-controller="RestaurantsController" data-ng-init="findOne()">
  <div class="page-header">
    <h1 data-ng-bind="restaurant.title"></h1>
	<img ng-src="{{restaurant.restaurantImageURL}}" height="100" />
  </div>
  <div class="pull-right" data-ng-show="authentication.user._id == restaurant.user._id">
    <a class="btn btn-primary" data-ui-sref="restaurants.edit({restaurantId: restaurant._id})" 
								data-ng-hide="!restaurants.edit({restaurantId: restaurant._id})">
      <i class="glyphicon glyphicon-edit"></i>
    </a>
    <a class="btn btn-primary" data-ng-click="remove();" data-ng-hide="!restaurants.edit({restaurantId: restaurant._id})">
      <i class="glyphicon glyphicon-trash"></i>
    </a>
  </div>
  <small>
    <em class="text-muted">
	<span data-ng-bind="restaurant.name"></span>
      Venue
      <span data-ng-bind="restaurant.place | date:'mediumDate'"></span>
      by
      <span data-ng-bind="restaurant.user.displayName"></span>
    </em>++++++++++++++++++++++++++++++++++++++++++++++++++++
  </small>
  <p class="lead" data-ng-bind="restaurant.location"></p>
</section>

