<section data-ng-controller="RestaurantsController" data-ng-init="findOne()">
  <div class="page-header">
    <h1 data-ng-bind="restaurant.title"></h1>
	<img ng-src="{{restaurant.restaurantImageURL}}" height="100" />
  </div>
  <div class="pull-right" data-ng-show="authentication.user._id == restaurant.user._id">
    <a class="btn btn-primary" data-ui-sref="restaurants.edit({restaurantId: restaurant._id})">
      <i class="glyphicon glyphicon-edit"></i>
    </a>
    <a class="btn btn-primary" data-ng-click="remove();">
      <i class="glyphicon glyphicon-trash"></i>
    </a>
  </div>
  
  	<div class="list-group">
      <div class="col-xs-12 col-sm-4" data-ng-repeat="i in item | filter:searchText">
	  
         <a data-ui-sref="restaurants.view({venueId: venue.id})"  class="list-group-item">
		 
		 
             <h4 class="club-list text-center">
			 <!--
                <i class="glyphicon glyphicon-picture"></i> 
				-->
				<!--
				<img ng-src="modules/clubs/client/img/default.png" alt="sean fitzpatrick" 
				class="img-thumbnail user-profile-picture" src="modules/users/client/img/profile/default.png">
				-->
				
				<!--If ng-src fails - load src. This is to keep the alignment of ng-repeat -->
				<img ng-src="{{i.venue.photos.groups[0].items[0].prefix + '100x100' + item.venue.photos.groups[0].items[0].suffix}}"
				src="modules/clubs/client/img/default.png" width="150" height="100"/>
				
             </h4>
             <div class="row">
                <div class="col-xs-10 col-xs-offset-1">
                     <h6>{{item.venue.name}}</h6>
					 <h6 ng-if="!i.venue.name>0">Default</h6>
					 
                     <small class="list-group-item-text text-muted">
					 <span ng-if="i.venue.location.address">{{item.venue.location.address}}</span>
					 <span ng-if="!i.venue.location.address>0">Default</span>
					  
					 <!--
                         <span data-ng-bind="club.created | date:'mediumDate'"></span>
						 -->
                     </small>
                </div>
             </div>
         </a>
		 <br />
      </div>       
  </div>
  
  <small>
    <em class="text-muted">
	<span data-ng-bind="restaurant.description"></span>
      Venue
      <span data-ng-bind="i.venue.location.address | date:'mediumDate'"></span>
      by
      <span data-ng-bind="restaurant.user.displayName"></span>
    </em>
  </small>
  <p class="lead" data-ng-bind="restaurant.content"></p>
</section>

